<% layout("layouts/boilerplate")%>
    <div id="map" class="mb-4" style="width: 100%; height: 300px;"></div>
    <h1>All Campgrounds</h1>
    <% for(let camp of campgrounds) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="row align-items-center p-1">
                        <% if(camp.images.length) {%>
                            <img src="<%= camp.images[0].url %>" alt="campground image" class="img-fluid mb-2">
                            <% } else { %>
                                <img src="https://res.cloudinary.com/de7wrrblm/image/upload/v1626201478/YelpCamp/dyqhuguwqbh5i3rsk0dl.jpg"
                                    alt="campground image" class="img-fluid mb-2">
                                <% } %>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6 offset-3 mb-2">
                            <a href="/campgrounds/<%= camp.id %>"
                                class="btn btn-outline-primary justify-content-center">View <%= camp.title %>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= camp.title %>
                        </h5>
                        <p class="card-text">
                            <%= camp.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= camp.location %>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <script>
                const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
                const campgrounds = {features: <%- JSON.stringify(campgrounds)%> };
            </script>
            <script src="/scripts/indexMap.js"></script>