<% layout("layouts/boilerplate")%>
    <h1>All Campgrounds</h1>
    <div><a href="/campgrounds/new">Add New Campground</a></div>
    <% for(let camp of campgrounds) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="row align-items-center p-1">
                        <img src="<%= camp.images[0].url %>" alt="campground image" class="img-fluid mb-2">
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6 offset-3 mb-2">
                            <a href="/campgrounds/<%= camp.id %>"
                                class="btn btn-outline-primary justify-content-center">View <%= camp.title %>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= camp.title %>
                        </h5>
                        <p class="card-text">
                            <%= camp.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= camp.location %>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>